body{
    font-family: 'Dosis', sans-serif;
    background-color: #FAE8EB;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-gap: 2px;
    background: rgb(45, 231, 255);
    padding: 5px;  
}
.grid > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}
.header{
    grid-area: 1/1/span 3/span 16;
    background-color: #0A014F;
    color: #FAE8EB;
}

.image{
    grid-area: 4/5/span 8/span 12;
    background-color: rgb(240, 225, 17);
}

.navbar{
    grid-area: 4/1/ span 6 /span 4 ;
    background-color: rgb(41, 43, 41);
    border: 1px solid black;
}


.desc{
    grid-area: 10/1/span 2/span 16;
    background-color: rgb(36, 189, 22);
}

h1{
    background-color: #0A014F;
    padding-bottom: 100px;
}

}
.crop{
    height: 10px;
    width: 10%;
    overflow: hidden;
}