
.CreateAccountBox{
	margin-top: 1000px;
	float: center;
	padding: 10px 30px 30px 30px;;
	width: 310px;
	height: 690px;
  	border-radius: 20px;  
  	margin: auto;  
 	margin-top:20px;  
  	border: 1px solid #fff;  
   -moz-box-shadow: 0px 0px 25px black;

}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align : center;
	font-size: 22px;
	color: white;
}

.CreateAccountBox p{
	margin: 0;
	padding: 0;
	font-weight: bold;

}

.CreateAccountBox input{
	width: 100%;
	margin-bottom: 20px; 
}

.CreateAccountBox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #000;
	background : transparent ;
	outline : none;
	height: 40px;
	color:#fff;
	font-size: 16px;

}

.CreateAccountBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #2c3e50;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.CreateAccountBox input[type="submit"]:hover
{
	cursor: pointer;
	background : #fff;
	color: black;
}